/*-----------------------General----*/

body {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*-----------------------Navbar----*/

.navbar {
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  color: #d1d8e3;
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 40px;
  transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

@media (max-width:768px) {
  .navbar {
    line-height: 40px;
    height: 40px;
  }
}

.navbar .navbar-brand {
  color: #d4d9de;
  display: inline-block;
  line-height: 50px;
  padding: 0;
  margin-left: 15px;
  font-family: 'DM Serif Text', serif;
  font-size: 24px;
}

@media (max-width:767px) {
  .navbar .navbar-brand {
    float: right;
    padding-right: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 21px;
  }
}

.navbar .navbar-brand img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 7px;
  margin-bottom: 6px;
}

@media (max-width:768px) {
  .navbar .navbar-brand img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 4px;
  }
}

.navbar-collapse {
  height: 50px;
  padding: 0;
}

@media (max-width:768px) {
  .navbar-collapse {
    height: 40px;
  }
}

.navbar-nav {
  float: right;
  padding: 0;
  list-style: none;
  height: 50px;
}

@media (max-width:768px) {
  .navbar-nav {
    height: 40px;
  }
}

.nav-item a {
  text-decoration: none;
  color: #d4d9de;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  display: block;
  font-size: 15px;
}

@media (max-width:768px) {
  .nav-item a {
    height: 40px;
  }
}

/*-----------------------Navbar hover animations----*/

.hvr-sweep-to-bottom:before {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.nav-item a:hover{
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: white;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/*-----------------------Navbar dropdown menu----*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  float: left;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid #dcdee0;
  border-bottom: none;
  border-top: none;
  border-left: none;
  font-size: 15px;
}

@media (max-width:768px) {
  .dropdown button {
    height: 40px;
    width: 50px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
}

@media (max-width:768px) {
  .dropdown-content {
    margin-top: 40px;
  }
}

.dropdown-content a {
  color: black;
  padding: 10px 16px 10px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a i {
  padding-left: 2px;
  padding-right: 7px;
  font-size: 18px;
}

.dropdown-content a text {
  padding-left: 5px;
  font-size: 15px;
}

.show {display:block;}

.dropbtn:hover, .dropbtn:focus {
  background-color: #dcdee0;
  color: #000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {background-color: #ddd}

/*-----------------------img Slideshow----*/

img {
  vertical-align: middle;
  width: 100%;
}

.slideshow-container {
  position: relative;
  margin: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f1f2;
  font-size: 6em;
  background: rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'DM Serif Display', serif;
  text-shadow: 2px 2px grey;
}

.bottom {
  display: none;
}

.bottom a {
  width: 100%;
  height: 100%;
}

@media (min-width:1200px) {
  .bottom {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    color: #f0f1f2;
    font-size: 50px;
  }
}


@media (max-width:900px) {
  .centered {
    font-size: 70px;
  }
}

@media (max-width:768px) {
  .centered {
    font-size: 45px;
  }
}

@media (max-width:480px) {
  .centered {
    font-size: 20px;
    top: 60%;
  }
}


/*-----------------------people/room count inputs----*/

#holiday-selector {
  padding-left: 0px;
  padding-right: 0px;
}

.count-selectors {
  margin-top: 50px;
  height: 300px;
}

.people-count {
  padding-bottom: 25px;
}

.people-count h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  font-size: 23px;
  color: #cc5545;
}

h4 span {
  background-color: rgba(255,255,255, 0.9);
}

.people-count i {
  padding-right: 8px;
}

.rooms-count {
  margin-top: 25px;
}

@media (max-width:480px) {
  .rooms-count {
    margin-top: 5px;
  }
}

.rooms-count h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  font-size: 23px;
  color: #cc5545;
}

.rooms-count i {
  padding-right: 8px;
}

#input_div {
  display: block;
}

#input_div  input {
  width: 40px;
  height: 25px;
  text-align: center;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

@media (max-width:480px) {
  #input_div  input {
    width: 30px;
    height: 25px;
  }
}

#input_div input[text=button] {
  border: 2px white solid;
}

#input_div input[type=button] {
  background-color: white;
  border: 2px green solid;
  border-radius: 2px;
  color: green;
  vertical-align: middle;
}

#input_div input[type=button]:hover {
  color: white;
  background-color: green;
  transition: all 0.2s ease;
}

#input_div input[attribute=value] {
  margin-bottom: 10px;
}

/*-----------------------holiday house type----*/

label {
  font-weight: normal;
}

.house-selectors {
  margin-top: 50px;
  text-align: center;
  border-left: 1px solid black;
  height: 300px;
}

.house-type h4 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 30px;
  font-size: 23px;
  color: #cc5545;
}

.house-type i {
  padding-right: 8px;
}

.container1 {
  display: block;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
}

@media (max-width:1100px) {
  .container1 {
    font-size: 15px;
  }
}

.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid green;
  margin-left: 25px;
}

@media (max-width:768px) {
  .checkmark {
    margin-left: 0px;
    float: left;
  }
}

.container1:hover input ~ .checkmark {
  background-color: white;
}

.container1 input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container1 input:checked ~ .checkmark:after {
  display: block;
}

.container1 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*-----------------------holiday date section popup calendar----*/

.date-selector {
  margin-top: 50px;
  display: block;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #cc5545;
  text-align: center;
  border-left: 1px solid black;
  height: 300px;
}

@media (max-width:768px) {
  .date-selector {
    border-left: none;
  }
}

.date-selector h4 {
  font-size: 23px;
}

.date-selector h4 i {
  padding-right: 8px;
}

.date-selector input {
  height: 30px;
  width: 250px;
  text-align: center;
  font-size: 15px;
  border: 2px solid green;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  color: black;
  margin-top: 35px;
}

@media (max-width:1100px) {
  .date-selector input {
    width: 100%;
  }
}

@media (max-width:900px) {
  .date-selector input {
    font-size: 13px;
  }
}

@media (max-width:480px) {
  .date-selector input {
    font-size: 9px;
  }
}

/*-----------------------pricing slider----*/
.slidecontainer {
  margin-top: 50px;
  border-left: 1px solid black;
  text-align: center;
  height: 300px;
}

.slidecontainer h4 {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  color: #cc5545;
  text-shadow: 2px white;
}

.slidecontainer h4 i {
  padding-right: 8px;
}

.slidecontainer input {
  margin-top: 90px;
  float: none;
}

@media (max-width:768px) {
  .slidecontainer input {
    margin-top: 50px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: green;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: 3px solid black;
  box-shadow: 2px 1px 1px white;
}

@media (max-width:900px) {
  .slider::-webkit-slider-thumb {
    height: 25px;
    width: 25px;
  }
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #077023;
  cursor: pointer;
}

/*-----------------------map----*/

.row {
  margin: 0px;
}

#map {
  width: 100%;
  height: 700px;
  margin-top: 100px;
  box-shadow: 1px 3px 3px grey;
}

@media (max-width:1100px) {
  #map {
    height: 600px;
  }
}

@media (max-width:900px) {
  #map {
    height: 500px;

  }
}

@media (max-width:769px) {
  #map {
    height: 400px;
  }
}

@media (max-width:480px) {
  #map {
    height: 250px;
  }
}

#listing table {
  font-size: 12px;
}

.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 50px;
  z-index: 1;
}

#listing {
  height: 700px;
  overflow: auto;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
  margin-top: 15px;
}

@media (max-width:1100px) {
  #listing {
    height: 600px;
  }
}

@media (max-width:900px) {
  #listing {
    height: 500px;
  }
}

@media (max-width:769px) {
  #listing {
    height: 400px;
  }
}

@media (max-width:480px) {
  #listing {
    height: 250px;
  }
}

.listings-title p {
  margin-top: 50px;
  background-color: green;
  height: 35px;
  color: white;
  font-size: 18px;
  padding-top: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#findhotels {
  font-size: 14px;
  margin-left: 15px;
  background-color: green;
  width: 30%;
  height: 35px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#findhotels p {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding-top: 5px;
}

@media (max-width:480px) {
  #findhotels p {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
  }
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0px;
  padding-right: 5px;
  margin-right: 10px;
}

#locationField #autocomplete {
    height: 35px;
    border: 2px solid green;
    padding-left: 15px;
    width: 100%;
}

#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 100%;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
  width: 100%;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

/*-----------------------featured holidays section----*/

.featured-holidays {
  text-align: center;
  margin-top: 100px;
}

@media (min-width:1380px) {
  .featured-holidays {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
  }
}

.FH-heading-row {
  text-align: center;
  display: block;
}

.featured-holidays-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  float: left;
}

@media (max-width:768px) {
  .featured-holidays-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    float: none;
    display: inline-block;
  }
}

.stars .fa-star {
  color: gold;
  display: inline-block;
  top: 50%;
  font-size: 50px;
  text-shadow: 1px 2px #f29f0f;
  padding-left: 2px;
}


@media (min-width:1024px) {
  .stars .fa-star {
    font-size: 60px;
    float: left;
    padding-left: 4px;
  }
}

.card {
  height: 350px;
  text-align: center;
  background-color: #04210a;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 3px 7px 7px grey;
}

@media (min-width:1024px) {
  .card {
    height: 400px;
  }
}

@media (max-width:480px) {
  .card {
    height: 280px;
  }
}

#featured-holiday-1 {
  padding-left: auto;
  padding-right: auto;
  margin-top: 50px;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40%;
}

@media (min-width:1024px) {
  .card img {
    height: 45%;
  }
}

.card-body {
  border-top: 1px solid white;
}

.card-body h4 {
  font-family: 'Roboto', sans-serif;
  color: #e6e3df;
  margin-top: 15px;
}

.card-body p {
  font-family: 'Roboto', sans-serif;
  color: #c4c1bc;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width:768px) {
  .card-body p {
    font-size: 18px;
  }
}

@media (max-width:480px) {
  .card-body p {
    font-size: 13px;
  }
}

.card-body a {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  background-color: #43ab3f;
  border-radius: 0px !important;
  text-shadow: 1px 1px black;
  border: none !important;
}

@media (max-width:480px) {
  .card-body a {
    margin-top: 4px;
  }
}

@media (max-width:480px) {
  .card-body a .btn-lg {
    margin-top: 0px;
    height: 35px !important;
    width: 100px !important;
    padding: 0 !important;
  }
}


/*-----------------------card hover animations----*/

.card:hover {
  box-shadow: 10px 17px 8px grey;
  transition: all 0.3s ease-in-out;
}
.card-body a:hover {
  background-color: #43ab3f;
  border: none !important;
  color: yellow;
}

.hvr-sweep-to-right:before {
  background-color: rgba(0,0,0, 0.2);
}

/*-----------------------footer----*/

.footer {
  display: block;
  height: 400px;
  margin-top: 50px;
  background-color: #42474f;
}

.footer-heading-row h2 {
  color: white;
}

@media (max-width:767px) {
  .footer {
    height: 600px;
  }
}

.contact-paragraph {
  width: 100%;
}

.contact-email {
  border-right: 1px solid green;
}

.contact-email p {
  float: none;
  color: #cc5545;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
  font-size: 17px;
}

@media (max-width:767px) {
  .contact-email p {
    margin-top: 15px;
  }
}

.form-control {
  width: auto;
}

#submit-form {
  text-align: center;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px
}

#submit-form input {
  width: 100% !important;
  float: right;
  border-radius: 0 !important;
  border-bottom: none !important;
  height: 40px !important;
}

#submit-form button {
  width: 100% !important;
  float: right;
  border-radius: 0 !important;
  background-color: black;
  color: white;
  height: 68px !important;
  font-size: 18px !important;
  border-bottom: 1px solid white !important;
}

#submit-form button i {
  padding-left: 8px;
}

.contact-info {
  margin-top: 25px;
}

.contact-info-item {
  display: block;
  width: 100%;
}

@media (min-width:768px) {
  .contact-info-item {
    float: left;
    padding-left: 25px;
  }
}

.CII02 {
  margin-top: 15px;
}

.contact-info-item h4 {
  color: #cc5545;
  float: left !important;
}

@media (max-width:767px) {
  .contact-info-item h4 {
    float: none !important;
  }
}

.contact-info-item h6 a {
  color: white;
  float: left !important;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid #42474f;
}

@media (max-width:767px) {
  .contact-info-item h6 a {
    float: none !important;
  }
}

.contact-info-item-a {
  width: 100%;
  clear: left;
}

@media (max-width:767px) {
  .contact-info-item-a {
    clear: none;
  }
}

.footer ul {
  padding-left: 0px;
  width: 100%;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

.footer ul li a {
  color: #f0f1f2;
  vertical-align: middle;
  display: block;
  border-bottom: 1px solid white;
}

.footer ul li a i {
  font-size: 22px;
  line-height: 40px;
}

/*-----------------------footer hover animations----*/

.footer ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid green;
}


#submit-form button:hover {
  background-color: #99cf97;
  color: black;
  transition: all 0.5s;
  font-size: 20px !important;
  border-bottom: 2px solid green !important;
}


.contact-info-item h6 a:hover {
  color: white;
  border-bottom: 1px solid green;
}
