/*-----------------------General----*/

body {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*-----------------------Navbar----*/

.navbar {
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border: 0;
  color: #d1d8e3;
  position: fixed;
  z-index: 10;
  width: 100%;
  min-height: 40px;
  transition: top 0.3s;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

@media (max-width:768px) {
  .navbar {
    line-height: 40px;
    height: 40px;
  }
}

.navbar .navbar-brand {
  color: #d4d9de;
  display: inline-block;
  line-height: 50px;
  padding: 0;
  margin-left: 15px;
  font-family: 'DM Serif Text', serif;
  font-size: 24px;
}

@media (max-width:767px) {
  .navbar .navbar-brand {
    float: right;
    padding-right: 40px;
    line-height: 40px;
    height: 40px;
    font-size: 21px;
  }
}

.navbar .navbar-brand img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 7px;
  margin-bottom: 6px;
}

@media (max-width:768px) {
  .navbar .navbar-brand img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 7px;
    margin-bottom: 4px;
  }
}

.navbar-collapse {
  height: 50px;
  padding: 0;
}

@media (max-width:768px) {
  .navbar-collapse {
    height: 40px;
  }
}

.navbar-nav {
  float: right;
  padding: 0;
  list-style: none;
  height: 50px;
}

@media (max-width:768px) {
  .navbar-nav {
    height: 40px;
  }
}

.nav-item a {
  text-decoration: none;
  color: #d4d9de;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-top: 0;
  width: 100%;
  display: block;
  font-size: 15px;
}

@media (max-width:768px) {
  .nav-item a {
    height: 40px;
  }
}

/*-----------------------Navbar hover animations----*/

.hvr-sweep-to-bottom:before {
  background-color: rgba(0, 0, 0, 1);
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

.nav-item a:hover{
  color: #fff;
}

.navbar .navbar-brand:hover {
  color: white;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
}

/*-----------------------Navbar dropdown menu----*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  float: left;
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid #dcdee0;
  border-bottom: none;
  border-top: none;
  border-left: none;
  font-size: 15px;
}

@media (max-width:768px) {
  .dropdown button {
    height: 40px;
    width: 50px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 50px;
}

@media (max-width:768px) {
  .dropdown-content {
    margin-top: 40px;
  }
}

.dropdown-content a {
  color: black;
  padding: 10px 16px 10px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a i {
  padding-left: 2px;
  padding-right: 7px;
  font-size: 18px;
}

.dropdown-content a text {
  padding-left: 5px;
  font-size: 15px;
}

.show {display:block;}

.dropbtn:hover, .dropbtn:focus {
  background-color: #dcdee0;
  color: #000;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dropdown-content a:hover {background-color: #ddd}

/*-----------------------img Slideshow----*/

img {
  vertical-align: middle;
  width: 100%;
}

.slideshow-container {
  position: relative;
  margin: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f1f2;
  font-size: 6em;
  background: rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'DM Serif Display', serif;
  text-shadow: 2px 2px grey;
}

@media (max-width:900px) {
  .centered {
    font-size: 70px;
  }
}

@media (max-width:768px) {
  .centered {
    font-size: 45px;
  }
}

@media (max-width:480px) {
  .centered {
    font-size: 20px;
    top: 60%;
  }
}

/*-----------------------map section----*/

#map {
  width: 100%;
  height: 600px;
  margin-top: 50px;
}

@media (max-width:480px) {
  #map {
    margin-top: 50px;
    height: 250px;
  }
}

@media (max-width:769px) {
  #map {
    margin-top: 50px;
    height: 400px;
  }
}

@media (max-width:900px) {
  #map {
    margin-top: 50px;
    height: 500px;

  }
}

/*-----------------------featured holidays section----*/

.featured-holidays {
  text-align: center;
  margin-top: 100px;
}

@media (min-width:1380px) {
  .featured-holidays {
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 50px;
  }
}

.FH-heading-row {
  text-align: center;
  display: block;
}

.featured-holidays-text p {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  float: left;
}

@media (max-width:768px) {
  .featured-holidays-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    float: none;
    display: inline-block;
  }
}

.stars .fa-star {
  color: gold;
  display: inline-block;
  top: 50%;
  font-size: 50px;
  text-shadow: 1px 2px #f29f0f;
  padding-left: 2px;
}


@media (min-width:1024px) {
  .stars .fa-star {
    font-size: 60px;
    float: left;
    padding-left: 4px;
  }
}

.card {
  height: 350px;
  text-align: center;
  background-color: #04210a;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 3px 7px 7px grey;
}

.card:hover {
  box-shadow: 10px 17px 8px grey;
  transition: all 0.5s ease-in-out;
}

@media (min-width:1024px) {
  .card {
    height: 400px;
  }
}

@media (max-width:480px) {
  .card {
    height: 280px;
  }
}

#featured-holiday-1 {
  padding-left: auto;
  padding-right: auto;
  margin-top: 50px;
}

.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40%;
}

@media (min-width:1024px) {
  .card img {
    height: 45%;
  }
}

.card-body {
  border-top: 1px solid white;
}

.card-body h4 {
  font-family: 'Roboto', sans-serif;
  color: #e6e3df;
  margin-top: 15px;
}

.card-body p {
  font-family: 'Roboto', sans-serif;
  color: #c4c1bc;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width:768px) {
  .card-body p {
    font-size: 18px;
  }
}

@media (max-width:480px) {
  .card-body p {
    font-size: 13px;
  }
}

.card-body a {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  background-color: orange;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  text-shadow: 1px 1px black;
}

@media (max-width:480px) {
  .card-body a {
    margin-top: 4px;
  }
}

/*-----------------------footer----*/

.footer {
  display: block;
  height: 400px;
  margin-top: 50px;
  background-color: #42474f;
}

.footer-heading-row h2 {
  color: white;
}

@media (max-width:767px) {
  .footer {
    height: 600px;
  }
}

.contact-paragraph {
  width: 100%;
}

.contact-email {
  border-right: 1px solid green;
}

.contact-email p {
  float: none;
  color: #cc5545;
  font-family: 'Roboto', sans-serif;
  margin-top: 25px;
  font-size: 17px;
}

@media (max-width:767px) {
  .contact-email p {
    margin-top: 15px;
  }
}

.form-control {
  width: auto;
}

form {
  text-align: center;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px
}

form input {
  width: 100% !important;
  float: right;
  border-radius: 0 !important;
  border-bottom: none !important;
  height: 40px !important;
}

form button {
  width: 100% !important;
  float: right;
  border-radius: 0 !important;
  background-color: black;
  color: white;
  height: 68px !important;
  font-size: 18px !important;
  border-bottom: 1px solid white !important;
}

form button:hover {
  background-color: white;
  color: black;
  transition: all 0.5s;
  font-size: 20px !important;
  border-bottom: 2px solid green !important;
}

form button i {
  padding-left: 8px;
}

.contact-info {
  margin-top: 25px;
}

.contact-info-item {
  display: block;
  width: 100%;
}

@media (min-width:768px) {
  .contact-info-item {
    float: left;
    padding-left: 25px;
  }
}

.CII02 {
  margin-top: 15px;
}

.contact-info-item h4 {
  color: #cc5545;
  float: left !important;
}

@media (max-width:767px) {
  .contact-info-item h4 {
    float: none !important;
  }
}

.contact-info-item h6 a {
  color: white;
  float: left !important;
  font-size: 15px;
}

@media (max-width:767px) {
  .contact-info-item h6 a {
    float: none !important;
  }
}

.contact-info-item-a {
  width: 100%;
  clear: left;
}

@media (max-width:767px) {
  .contact-info-item-a {
    clear: none;
  }
}

.contact-info-item a:hover {
  color: green;
}

.footer ul {
  padding-left: 0px;
  width: 100%;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  vertical-align: middle;
}

.footer ul li a {
  color: #f0f1f2;
  vertical-align: middle;
  display: block;
  border-bottom: 1px solid white;
}

.footer ul li a i {
  font-size: 22px;
  line-height: 40px;
}

/*-----------------------footer hover animations----*/

.footer ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid green;
}
